{% extends 'base_site.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <h1 class="text-center">提交成功 <small> 感谢你的支持 </small></h1>
                   <div class="col-md-3 col-md-offset-2">
                <blockquote>
                    <p> 知识上的投资总能得到最好的回报。</p>
                    <footer>  --本杰明・富兰克林</footer>
                </blockquote>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <p>
                    <b>恭喜大家选择了一份充满挑战、极富成就感的职业。从今天开始把昨天的自己甩在身后，以最饱满的热情、最坚定的脚步踏上一段崭新的人生道路。</b>
                </p>
                <p>
                    在此期间，希望大家学到的不只是技术，更多的是受用终生的智慧：
                    <ul>
                        <li>确定明确的目标，每天都在向梦想更加靠近</li>
                        <li>勇于为自己为家人负责，做一个成熟、独立的人</li>
                        <li>善于团队合作，练习沟通表达能力，学习处理人际关系</li>
                        <li>养成思考的习惯，把知识升华为智慧</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <p>
                    希望你与我们一起努力，让自己蜕变为一名合格的、杰出的软件工程师，并为自己和家人带来更好的生活

                </p>

            </div>
            <div class="col-md-2">
                <br />
                <p class="text-right">
                    深圳达内龙岗中心教学部
                </p>
            </div>
        </div>
    </div>
{% endblock %}